#bodyContainer{
	width: 70%;
	margin: auto;
	margin-bottom: 60px;
}

#challengesList{
	padding: 5px;
	border:1px solid gray;
	border-radius: 3px;
}

.entryAttr{
	text-indent: 20px;
}

.inputContainer {
	width: 50%;
}

a {
	color: white;
}

.md-no-sticky{
	color: gray;
}