<div id='newEntry' layout="column" layout-align="center center">

	<h2>Let's Tackle a Challenge!</h2>

	<div class='inputContainer'>
    <md-input-container layout>
      <label>What's the problem you're trying to solve?</label>
      <textarea ng-model="entryObj.challenge" rows="5" md-select-on-focus></textarea>
    </md-input-container>
	</div>
	<!-- </div> -->
	<div class='inputContainer'>
    <md-input-container layout>
      <label>What are your initial reactions to the problem? Unload your thinking here:</label>
      <textarea ng-model="entryObj.initialThoughts" rows="5" md-select-on-focus></textarea>
    </md-input-container>
	</div>

  <div class='inputContainer'>
    <p>At this point, it's useful to ask, is there a related </p> <md-button class='md-raised' type='submit' ng-click='newEntryTab()'>sub-question?</md-button>
  </div>

	<div class='inputContainer'>
    <md-input-container layout>
      <label>Any post-breakdown notes?</label>
      <textarea ng-model="entryObj.notes" rows="5" md-select-on-focus></textarea>
    </md-input-container>
	</div>

	<div class='inputContainer'>
    <md-input-container layout>
      <label>What does your solution look like?</label>
      <textarea ng-model="entryObj.mySolution" rows="5" md-select-on-focus></textarea>
    </md-input-container>
	</div>

	<div class='inputContainer'>
    <md-input-container layout>
      <label>Pick one big takeaway from this problem:</label>
      <textarea ng-model="entryObj.process" rows="5" md-select-on-focus></textarea>
    </md-input-container>
	</div>

	<md-button class="md-raised" type='submit' ng-click='saveEntry()'>Save Entry</md-button>

</div>