<div class='newEntry'>

	<div>
		<p>What's the problem you're trying to solve?</p>
		<input type='text' ng-model='challenge'>
	</div>
	<div>
		<p>What are your initial reactions to the problem? Unload your thinking here:</p>
		<input type='text' ng-model='initialThoughts'>
	</div>
	<div>
		<p>Any sub-problems related to the one you just posed? Let's take these one at a time.</p>
		<input type='text' ng-model='questions'>
	</div>
	<div>
		<p>After browsing for a solution, what are your thoughts now?</p>
		<input type='text' ng-model='notes'>
	</div>
	<div>
		<p>So what solution are you going to try?</p>
		<input type='text' ng-model='mySolution'>
	</div>
	<div>
		<p>What thought process can you take next time, in order to arrive at this solution?</p>
		<input type='text' ng-model='process'>
	</div>

</div>