<div id='allChallenges'>
		<ul>
			<li ng-repeat='entry in data' ng-click='showEntry(entry)'>{{entry.challenge}}</li>
		</ul>

	<div id='currentEntry'>
		<h3>Challenge: </h3>
			<div>
				{{currentEntry.challenge}}
			</div>

		<h3>Your initial thought process: </h3>
			<div>
				{{currentEntry.initialThoughts}}
			</div>


		<h3>Your notes: </h3>
			<div>
				{{currentEntry.notes}}
			</div>

		<h3>Your solution: </h3>
			<div>
				{{currentEntry.mySolution}}
			</div>

		<h3>Your solution process: </h3>
			<div>
				{{currentEntry.process}}
			</div>

	</div>
</div>